.name-summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.summary-btn {
  padding: 6px 12px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.summary-btn:hover {
  background-color: darkviolet;
}


.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.admin-panel {
  padding: 20px;
}

.admin-panel input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  max-width: 400px;
}

.admin-panel button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #6c2bd9;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}



